{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tutorial - Leaflet</title>

	{% leaflet_css %}
	{% leaflet_js %}

	<style>
		.leaflet-container {
			height: 500px;
		}
	</style>

</head>

<body>
	<div>
		{% leaflet_map "main" callback="map_init" %}
	</div>

	<script src="{% static 'L.KML.js' %}"></script>

	<script type="text/javascript">
		window.addEventListener("map:init", function (event) {
			var map = event.detail.map;
		});

		function map_init(map, options) {
			//Configurações do mapa

			centro = [-24.733595894157276, -53.735933918794935]

			map.setView(centro, 6);

			//Adiciona camada de satélite ao Mapa
			var satelite = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
				maxZoom: 20,
				subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
			});
			satelite.addTo(map);

			var terreno = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
				maxZoom: 20,
				subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
			});
			terreno.addTo(map);


			var estradas = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
				maxZoom: 20,
				subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
			});
			estradas.addTo(map);

			var baseMaps = {
				"Satélite": satelite,
				"Terreno": terreno,
				"Estradas": estradas
			};

			fetch("{% static 'assets/mesorregioes/NM_MESO_Sudoeste.kml' %}")
				.then(res => res.text())
				.then(kmltext => {
					// Create new kml overlay
					const parser = new DOMParser();
					const kml = parser.parseFromString(kmltext, 'text/xml');
					const track = new L.KML(kml);
					map.addLayer(track);

					// Foca o mapa no polígono
					// const bounds = track.getBounds();
					// map.fitBounds(bounds);
				});

			fetch("{% static 'assets/mesorregioes/NM_MESO_Oeste.kml' %}")
				.then(res => res.text())
				.then(kmltext => {
					// Create new kml overlay
					const parser = new DOMParser();
					const kml = parser.parseFromString(kmltext, 'text/xml');
					const track = new L.KML(kml);
					map.addLayer(track);
				});

			fetch("{% static 'assets/mesorregioes/NM_MESO_Metropolitana de Curitiba.kml' %}")
				.then(res => res.text())
				.then(kmltext => {
					// Create new kml overlay
					const parser = new DOMParser();
					const kml = parser.parseFromString(kmltext, 'text/xml');
					const track = new L.KML(kml);
					map.addLayer(track);
				});

			var layerControl = L.control.layers(baseMaps).addTo(map);

			
		}

	</script>
</body>

</html>